[flake8]
exclude =
    .git,
    __pycache__,
    ./indiecoin/util/ecdsa,
    ./indiecoin/blockchain/genesis/*,
    ./indiecoin/miner/*,
    ./tests/context.py,
    ./indiecoin/node/bt_peer.py,
    ./send_transaction.py,
    ./send_block.py,
max-line-length=139