[flake8]
exclude =
    .git,
    __pycache__,
    ./indiecoin/util/ecdsa,
    ./indiecoin/node/*,
    ./indiecoin/blockchain/genesis/*,
    ./indiecoin/miner/*,
    ./indiecoin-node.py,
    ./tests/context.py
max-line-length=99