[flake8]
exclude =
    .git,
    __pycache__,
    ./indiecoin/util/ecdsa,
    ./indiecoin/node/*,
    ./indiecoin/blockchain/*,
    ./indiecoin/miner/*,
    ./indiecoin-node.py,
    ./tests/test_transactions.py,
    ./tests/test_database.py,
    ./start.py,
    ./tests/context.py
max-line-length=99